# Dependências
/vendor/

# Configurações sensíveis
.env
config/database.php

# Logs
*.log

# Cache
/cache/
/tmp/

# Sistema operacional
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Upload de arquivos
/public/uploads/